<div class="container">
    <h2>Calendars of Calagoria</h2>
    <p> The two primary calendars of the Calagorian people are:</p>
    <ul>
    <li>God-Count</li>
    <li>Straight-Line</li>
    </ul>
    <p> The God-Count calendar follows the 12 Gods of Calagoria, beginning with Calagor and ending with Mstislav. Acceptable declarations of year is as follows:</p>
    <ul>
    <li>The year of [God], [Cycle Number]</li>
    <li>Year [Cycle Number], [God] (Only acceptable in letters!)</li>
    <li>[God], [Cycle Number]</li>
    </ul>
    <p>[Cycle Number] increases by 1 once all 12 gods have served their years.</p>
    <p>[God] of year changes at the end of each 10-month cycle.</p>
    <p>The Straight-Line calendar was created in the year of Calagor, 12, and was aligned with the God-Count calendar in the year of Calagor, 14. Year 1 of the Straight-Line calendar is the year of Calagor, 1.</p>
    <p>At the end of each 10-month cycle, the Straight-Line calendar year increases by 1.</p>
    <p>Both Calagorian calendars follow the same amount of days/months/weeks.</p>
    <p> </p>
    <p> Each year holds 10 months.</p>
    <p>Each month holds 4 week.</p>
    <p>Each week holds 7 days.</p>
    <p>Each day holds 24 hours.</p>
    <p>When mentioning years before year of Calagor, 1 (Straight-Line 1), always use Straight-Line.</p>
</div>