<div class="container text-center">
    <h1><strong>Travel Options in Calagoria</strong></h1>
    <h3><strong>Horse</strong></h3>
    <p>Horses are native to Calagoria, and become even more prevalent the more southward you are. Most towns rely on horses for work, travel, food, pleasure, and more. Though the availability of horses is high, many areas are reluctant to relinquish them for trade. Price per horse may range from ~10 gold to ~200 gold or higher depending on the area you are in.</p>
    <h3><strong>Carriage</strong></h3>
    <p>Carriages are common, and almost any builders association will build you your own, or sell you any not in use. Unfortunately, most carriages require a steer or horse to pull them, and the ability to acquire those animals is not as simple as buying the carriage.</p>
    <p>Carriages are being raided at a rising rate in many areas of the Calagorian Empire. Consult with your nearest Caliphate Security Consulate for information about raidings in your area.</p>
    <h3><strong>Caravan</strong></h3>
    <p>Calagorians are constantly moving from place to place, and to capitalize on this, many caravan systems have been created. Every major city will have a caravan schedule, with tickets available for purchase. Obtaining passage on a caravan outside of a major city is possible, but many caravan associations heavily enforce against it, and only the caravan leader can allow it, no matter the individual carriage owner&rsquo;s wishes.</p>
    <p>Trade caravans that operate outside of normal caravan conventions are available as well, but commonly only route between two road-connected areas. </p>
    <h3><strong>Trade Ship</strong></h3>
    <p>If you happen to find yourself in East Calaphin, you can hop a ride on a trade ship to travel along the coast. These ships operate under Calagorian Naval Law, but are completely autonomous within the East Calaphin trade system.</p>
    <p>Trade ships commonly charge a hefty fee for passengers. After all, you are taking up valuable cargo space. Fortunately for Calagorians, simply prove your citizenship and instead of charging by space, you&rsquo;ll be charged by weight! Sometimes it pays to be small.</p>
    <h3><strong>Natorial Frose Power Transport</strong></h3>
    <p>The greatest innovation in transport since they discovered the wheel, the Natorial Frose Power Transport can take you to any other access point in the world! With an access point in every major city in the Calagorian Empire, and in the majority of allied capitals, the Natorial Frose Power Transport is guaranteed to be the fastest transport available.</p>
    <p>That is, as long as the Power Static doesn&rsquo;t blow up again.</p>
    <h3><strong>Passenger Airships</strong></h3>
    <p>Originally a gift from the Gnomatics as a show of faith, the airships of old have been enhanced by Seris Fren herself. With, &ldquo;newmatic engines,&rdquo; that are over double the speed of the original model, these airships are the apex of air travel. Say goodbye to gliders and flight spells, because airship rides are completely free to all members of the Calagorian Empire. Not an empirical citizen? No problem! Before embarking into the Empire, contact the nearest Calagoria Embassy, and receive an airship pass.</p>
</div>