<style>
    .mapSection {
        margin-top: 20px;
    }
</style>

<div class="container">
    
    <div class="section" id="about">
        <h2>All About Minith</h2>
        <ul>
            <li>Population: 9,912 people.</li>
            <li>Demographics: ~97.4% Human, ~2% Elvantis, ~0.5% Gnomatic, ~1% Dwarval, ~0.1% Assorted Others</li>
            <li>Defense: 40' Wall, Mechanical Bridges across rivers</li>
            <li>Laws: Calagorian Empire Laws Only</li>
            <li>Monuments: Prayer Monument to Adrianus in the Square</li>
            <li>Taxes: 2% Tax on all trades less than 500gp, 8% Tax on all trades above 500gp</li>
            <li>Land Type: Fertile plains, Forest to north-east</li>
            <li>Economy: Rich, large incomes from trade.</li>
        </ul>
        <p>Minith is the capital of Tralin. Due to its location to East Caliphin, it has commonly been used as a staging area for armies heading north and west.</p>
    </div>

    <div class="section" id="mapBook">
        <h2>Minith Map Book</h2>
        <h3>Calin has offered you his Minith Map Book. The maps inside can be found below.</h3>
        
        <div class="mapSection">
            <img src="<%= asset_path('Minith_City.png') %>" height="306" width="544">
            <figcaption>The City of Minith</figcaption>
        </div>

        <div class="mapSection">
            <%= image_tag("Minith_Greater_Area_Crypts.png", :size => "544x306") %>
            <figcaption>All the known crypts around Minith.</figcaption> 
        </div>
    </div>
</div>