<div class="container">
    <div class="section">
        <h3>Robe of Useful Items</h3>

        <h6>Normal Patches (2 of each):</h6>
        <ul style="list-style: none;">
            <li>Dagger</li>
            <li>Bullseye Lantern (Filled and Lit)</li>
            <li>Steel Mirror</li>
            <li>10' Pole</li>
            <li>Hempen Rope (50', Coiled)</li>
            <li>Sack</li>
        </ul>

        <h6>Special Patches:</h6>
        <ul style="list-style: none;">
            <li>Portable Ram</li>
            <li>Rowboat</li>
            <li>Silver Coffer (500gp)</li>
            <li>Wooden Ladder (24')</li>
            <li>4 Potions of Healing</li>
            <li>4 Potions of Healing</li>
            <li>Wooden Ladder (24')</li>
        </ul>
    </div>
</div>