<nav class="navbar navbar-expand-sm navbar-light bg-faded" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Calagoria</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><%= link_to "Session Recaps", session_recaps_path %></li>
            <li class="nav-item"><%= link_to "Lore", "/pages/lore"%></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="loreDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="loreDropdown">
                    <%= link_to "Calendars", '/pages/tools/calendars_tool' %>
                </ul>
            </li>
        </ul>
    </div>
</nav>