<div class="container">
    <div class="section text-center">
        <h2><strong>Snow Day</strong></h2>
        <p>
        You awaken in the night. Your fire crackles, and your wolf rustles in place. You have not been asleep long. You had found refuge from the dense snow within this mountain-side, but the storm seems to have barricaded your exit. For five days you attempt to free yourself, but the raging winter never ceases. You run out of food, are forced to eat your wolf, and by the time the snow finally clears from your exit, you are too weak to escape. You starve.
        </p>
    </div>
    <div class="section text-center">
        <h2><strong>Struck Down</strong></h2>
        <p>The battle rages on. Your comrades fall left and right, but you push on. Lightning surges from above, and you feel your body halt. The noise disappears, your eyesight begins to fade. You spot the magiks user that ended your crusade, and he laughs as your corpse falls to the ground.</p>
    </div>
    <div class="section text-center">
    <h2><strong>Haggling</strong></h2>
    <p>You had never expected this would be the way you go out. You don’t even know how you got here. All you remember is a bar, feelings of lust, and the free whiskey. Now you’re strapped to a wooden post; surrounded crazy hags in loincloths. They dance around you. Their screeching floods your mind with pain, and the fire at your feets dulls your nerves. The screeching is too much, and you scream out in pain as your skin succumbs to the fire.</p>
    </div>
    <div class="section text-center">
        <h2><strong>Softly Into That Dark Night</strong></h2>
        <p>You slowly drift off to sleep. You don't wake up.</p>
    </div>
    <div class="section text-center">
    <h2><strong>Pillow Talk</strong></h2>
    <p>She’s perfect. She’s everything you’ve ever wanted. Who cares what people think. Sure, you might have just met her tonight, but who cares, right? All that matters is you love each other, not whether you met in a bar at 2am or not. Who do they think they are criticizing the way you are. You push those thoughts out of your head. She whispers something about food, and you are a little peckish, so why not? She gets out of bed, and tells you to stay put. Does she even know where the kitchen is? You lay your head back down, and begin to fall asleep. The light encroaches into your room; awaking you from your slumber. Your vision is hazy, and a figure approaches from the light. Your beautiful darling. How wonderful your future together will be. Your vision fades, and you fall into slumber once more. You awaken slightly as you choke on your own blood.</p>
    </div>
    <div class="section text-center">
        <h2><strong>Spoiler Alert</strong></h2>
        <p>You’ve killed a lot of men in your time. Battle-hardened warriors, scared teenagers, privates, and generals. You’ve killed more men than you can count. You never thought those you killed would end up killing you.</p>
    </div>
    <div class="section text-center">
        <h2><strong>Very Berry Dead</strong></h2>
        <p>Berries. Berries are your only option. Think back to potion school. Think. How can you tell if a berry is poisonous? The ones with spots are fine, right? So I can’t eat the ones without spots. Okay, okay. I guess we’ll start with these. One is fine, right?</p>
    </div>
    <div class="section text-center">
        <h2><strong>Backtalk</strong></h2>
        <p>“What are you going to do, stab me?” Was probably not the best thing to say to the man with the dagger.</p>
    </div>
    <div class="section text-center">
        <h2><strong>Alfons, The Mama's Boy</strong></h2>
        <p>You’ve done it! You’ve finally summoned a demon. Everyone said you couldn’t do it, but you finally have! Apparently the demon’s name is… Alfons? What kind of dumb name is that? How strong can a demon named "Alfons" truly be? You could probably kill him if You really- Demon attacks hurt.</p>
    </div>
    <div class="section text-center">
        <h2><strong>Buried Desires</strong></h2>
        <p>Gotta hide the treasure. Where can you hide it? Your home? No, that’s too obvious. It’d be burnt down in a week. Maybe you should bury it? In the forest? No, too close. Maybe you can lock it up and dump it in the river? Gotta think. Gotta watch out. Those bandits must be right behind you. How do you do this? You just put this in the chest, chain it up, and drop it in? Oh no. It’s the bandits. You can’t let them get it. This torture is unbearable. Where do they even get spikes this long? You can’t tell them where it is. They’ll have to kill you first.</p>
    </div>
</div>