<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Step 1: Deciding Your Death!</div>
        <div class="panel-body">
            So you've made your character. He's perfect. She's Beautiful. It's disgusting. I don't judge. It's a great character though, right?
            Well... It's time they died. Pick a death scenario below. Make sure it matches your character,
            because it <i>might</i> come in to play later.
            <br>
            <br>
            <%= link_to "Death Scenarios", "/pages/meta_info/deaths" %>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Step 2: Reacting to Reality!</div>
        <div class="panel-body">
            So you've killed your character. He received a valiant death! She got what she deserved. They were snuffed out too early.
            No matter how they died. They're back now! Your death was meaningless! Somehow their consciousness was returned to their
            body, but lets not talk about that yet. How does your character react to their first few seconds of re-existence?
            <br>
            <br>
            <%= link_to "Re-existence Reactions", "/pages/meta_info/reactions" %>
        </div>
    </div>
</div>