<div class="container">
    <div class="section text-center">
        <h2><strong>Easy Awakenings</strong></h2>
        <p>The forest noises invade your ears. It hurts, but after hearing almost nothing but silence for so long, there is also a beauty in it. Your eyes spin as they adjust, and you begin to see that great blue sky once again.</p>
        <h5>Sight: Blue</h5>
    </div>
    <div class="section text-center">
        <h2><strong>Penance</strong></h2>
        <p>Everything hurts. So much pain. The world is gray, and it hurts so much. What hell has been forced upon you for your [sins / crimes / devotion] ? Your eyes see nothing but red.</p>
        <h5>Sight: Red</h5>
    </div>
    <div class="section text-center">
        <h2><strong>Dead Inside</strong></h2>
        <p>Existence is a nuisance. You hated being alive, and you hate being… whatever this is. The world is gray. Like always.</p>
        <h5>Sight: Gray</h5>
    </div>
    <div class="section text-center">
        <h2><strong>Low Accuracy</strong></h2>
        <p>You miss it so much. You miss your parents, your pets, your friends. You miss the trees, the skies, the oceans. You never even got to see a volcano. You miss volcanoes. You miss being able to go wherever you wanted. You miss being stuck in one place. You miss being here, there, and everywhere. You miss it. Even these blue skies you see now, you miss those too.</p>
        <h5>Sight: Blue</h5>
    </div>
    <div class="section text-center">
        <h2><strong>I Am My Minion's Keeper</strong></h2>
        <p>Death was yours once. You controlled it, you defiled it, you created it. Death was all you knew. Until it turned on you. Until it betrayed you. This betrayal will not turn you away from death. No, this betrayal will bring you closer to death than you have ever been. You shall control it all. Your first sight is blue, but your future is blood red.</p>
        <h5>Sight: Blue</h5>
    </div>
    <div class="section text-center">
        <h2><strong>Lost In Sight</strong></h2>
        <p>These sounds… They’re amazing. You’ve never heard something so beautiful. The birds chirping, the bodies next to you breathing shallow. You open your eyes to see… darkness? Your vision must not have returned just yet. Surely it will return soon. Surely.</p>
        <h5>Sight: None</h5>
    </div>
    <div class="section text-center">
        <h2><strong>The Battle Returns</strong></h2>
        <p>You brought this upon yourself. You chose to fight; which means you chose to die. All your life you were placing the blame on others, but no more. Starting right here, you’re your own man. You're finally gonna make something of yourself.</p>
        <h5>Sight: Green</h5>
    </div>
    <div class="section text-center">
        <h2><strong>Lovestruck</strong></h2>
        <p>“My love! My love, I have returned!” Your screams echo around you. Your thoughts are scattered, but your goal is clear. You have lost your love, but you have returned to love’s sweet embrace.</p>
        <h5>Sight: Violet</h5>
    </div>
</div>