<style>
.btn-as-text {
        background: none;
        border: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <button class="btn-as-text" data-toggle="collapse" data-target="#tralinList">
                    <h1>>Tralin</h1>
                </button>
                <ul class="collapse" id="tralinList">
                    <li>
                        <h4><%= link_to "Minith", "/pages/areas/minith" %></h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
        
        </div>
    </div>
</div>