<div class="container">
    <h1 class="text-center"><%= session_recap.title %></h1>
    <p class="text-center">Session Date: <%= session_recap.played_on.strftime("%m-%d-%Y") %></p>
    <p class="text-center"><%= session_recap.body %></p>
</div>